node_modules
.vs
vscode-extension/out
vscode-extension/node_modules
vscode-extension/core.js
vscode-extension/core.js.map
core/core.js
core/core.js.map
www/index.js
www/index.js.map
tests/tests.js
tests/tests.js.map
