:root {
    --formula-line-height: 27px;
    --tabs-height: 34px;
}

body {
    overflow: hidden;
    font-family: Calibri, Carlito;
}

.table-container {
    overflow: scroll;
    height: calc(100vh - var(--formula-line-height) - var(--tabs-height) - 0.5rem);
    padding: 0;
}

#tabs > * {
    border-radius: 0;
    --bs-btn-padding-y: 0.25rem;
}

.container {
    width: 100%;
    min-height: 100vh;
    max-width: none;
}

#editor {
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    height: 100vh;
    letter-spacing: normal;
    line-height: 20px;
    padding: 10px;
    tab-size: 4;
}

    .comment, .comment * {
        color: green!important;
    }

    .sheet, .sheet * {
        color: gray!important;
    }

    .quota, .quota * {
        color: brown;
    }

#formula-line {
    height: var(--formula-line-height);
    margin-right: 0.25rem;
    border: solid var(--bs-border-color) 1px;
}

#message {
    transition: opacity linear 0.1s;
}

.code {
    font-family: 'Source Code Pro', monospace;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Carlito';
    font-style: normal;
    font-weight: 400;
    src: url(font/Carlito/3Jn9SDPw3m-pk039DDqBTFcHXuB70Q.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
    font-family: 'Carlito';
    font-style: normal;
    font-weight: 400;
    src: url(font/Carlito/3Jn9SDPw3m-pk039DDOBTFcHXuB70Q.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
    font-family: 'Carlito';
    font-style: normal;
    font-weight: 400;
    src: url(font/Carlito/3Jn9SDPw3m-pk039DDuBTFcHXuB70Q.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
    font-family: 'Carlito';
    font-style: normal;
    font-weight: 400;
    src: url(font/Carlito/3Jn9SDPw3m-pk039DDSBTFcHXuB70Q.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
    font-family: 'Carlito';
    font-style: normal;
    font-weight: 400;
    src: url(font/Carlito/3Jn9SDPw3m-pk039DDiBTFcHXuB70Q.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Carlito';
    font-style: normal;
    font-weight: 400;
    src: url(font/Carlito/3Jn9SDPw3m-pk039DDmBTFcHXuB70Q.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Carlito';
    font-style: normal;
    font-weight: 400;
    src: url(font/Carlito/3Jn9SDPw3m-pk039DDeBTFcHXuA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.cell {
    min-width: 100px;
    max-width: 100px;
}

table * {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

tr {
    height: 10px;
    white-space: nowrap;
}

.cell-number {
    text-align: right;
}

th {
    text-align: center;
    font-weight: bold;
    color: #777;
    position: -webkit-sticky;
    position: sticky;
}

thead tr {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: white;
    z-index: 2;
}

thead {
    margin-bottom: 5px;
}

table > tbody > tr > :first-child {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    background: white;
    z-index: 1;
}

.cell-selected {
    outline: solid #1a73e8 2px;
    outline-offset: -3px;
}

.select-area {
    background: #e5eefc!important;
}

.cell-header-selected {
    background: #d3e3fd!important;
}
